<div class="alert alert-info" *ngIf="editForm.dirty">
    <strong>Информация: </strong>все несохраненные изменения будут потеряны
</div>
<div>
    <div class="card">
        <div class="card-body">
            <h2 class="text-center text-default">Клиент</h2>
            <hr>
            <form [formGroup]="editForm" index="editForm" (ngSubmit)="updateMember()" autocomplete="off">
                <div class="form-group">
                    <h4>Фамилия имя:</h4>
                    <input class="form-control mb-2" formControlName="fullName" type="text"
                        placeholder="Например Тимошенко Юлия"> 
                </div>
                <div class="form-group">       
                    <h4 class="m-2">День рождения:</h4>
                    <app-date-input [formControl]='editForm.controls["birthday"]'></app-date-input>
                </div>
                <div class="form-group">
                    <h4 class="m-2">Номер телефона:</h4>
                    <input class="form-control mb-2" formControlName="phoneNumber" type="text" placeholder="Например 375291112233"> 
                </div>
                <div class="form-group">
                    <h4 class="m-2">Email:</h4>
                    <input class="form-control mb-2" formControlName="email" type="text"  placeholder="Например email@gmail.com">
                </div>
                
                <button [disabled]="!editForm.dirty" class="btn btn-success btn-blick mt-2" 
                    type="submit" style="height: 5ex;" >Сохранить</button>
            </form>
        </div>
        
    </div>
    
</div>
