<div class="row justify-content-center">   
    <div class="container" >
        <div class="row" *ngIf="member">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="title">
                            <h2 class="text-center text-default" *ngIf="member">{{member.fullName}}</h2>
                            <h2 class="text-center text-default" *ngIf="!member">Member</h2>
                            <div class="material-icons" type="button" (click)="onUpdateClick()" >edit</div>
                        </div>                              
                        <hr>
                        <div>
                            <strong>День рождения:</strong>
                            <p>{{member.birthday | date: "dd MMMM YYYY"}}</p>
                        </div>
                        <div>
                            <strong>Номер телефона:</strong>
                            <p>{{member.phoneNumber}}</p>
                        </div>
                        <div>
                            <strong>Дата последнего посещения:</strong>
                            <p>{{member.lastVisit | date: "dd MMMM YYYY"}}</p>
                        </div>
                        <div>
                            <strong>Email:</strong>
                            <p>{{member.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
