
<h2 style="text-align:center">Добавление и редактирование типов абонемента</h2>
<hr> 

         
                       
            <div class="evenParent">           
                
                    <div class="child flex-child col-4 card bg-light mb-2 mt-2">
                        <h3 style="text-align:center" class="mt-2">Изменить название</h3>
                        <select class="form-control col-8 ml-5" [(ngModel)]="selectedType" (change)="onTypeSelected()">
                        <option *ngFor="let type of types" [ngValue]="type">
                            {{type.type}}
                        </option>
                        </select> 
                        <input type="text" class="form-control col-8 ml-5 mt-2" name="username" 
                            [(ngModel)]="typeToUpdate.type" placeholder="Название"> 
                        <button class="btn btn-success col-4 mt-2 ml-5 mb-2" (click)="onTypeUpdate()">Изменить</button>
                    </div>                  
                
                
                    <div class="child flex-child col-4 card bg-light mb-2 ml-2 mt-2">
                        <h3 style="text-align:center" class="mt-2">Добавить название</h3>
                        <input type="text" class="form-control col-8 ml-5 mt-2" name="type" [(ngModel)]="typeToAdd" placeholder="Название"> 
                        <button class="btn btn-success col-4 ml-5 mt-2 mr-2" (click)="onTypeAdd()">Добавить</button>
                    </div>                                
                
                
                    <div class="child flex-child col-4 card bg-light mb-2 ml-2 mt-2">
                        <h3 style="text-align:center" class="mt-2">Добавить количество посещений</h3>
                        <input type="number" class="form-control col-8 ml-5 mt-2" name="type" [(ngModel)]="sizeToAdd" placeholder="Количество посещений"> 
                        <button class="btn btn-success col-4 ml-5 mt-2 mr-2" (click)="onSizeAdd()">Добавить</button>
                    </div>                           
                                
            </div>  
                     
                 
    






