/*.bg-dark {
    background-color: #292729!important;
}*/

.btn-outline-success {
    color: #0f0f0e;
    border-color: #031106;
    background-color: rgb(184, 149, 104);
}

.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

.btn{
    white-space: nowrap;
    text-align: center;
  }